<!DOCTYPE html>
<html>
    <head>
        <base href="/"/>
        <meta charset="utf-8">
        <meta developer="Patrick Wu" url="http://syncretik.xyz"/>
        <title>Rutgers Deep Treble A Capella Group</title>
        <link rel="icon" type="image/png" href="/assets/logos/DE:EP black favicon.png">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <app>Loading...</app>
    </body>
</html>
