@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/Avenir.ttc") format("truetype"); }

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: Avenir;
  background-color: black;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }

#ripple {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh; }
  #ripple canvas {
    position: absolute;
    height: inherit;
    width: inherit; }
  #ripple #blank-space {
    width: 800px;
    height: 578px;
    z-index: 1001;
    background-color: #f5f4f2;
    border-radius: 1em; }
  #ripple #coffee-holder {
    position: inherit;
    border-radius: 100vh;
    width: 250px;
    height: 250px;
    cursor: pointer;
    background-color: grey;
    z-index: 1003;
    opacity: 0; }
  #ripple img {
    display: none; }
  #ripple #coffee {
    position: absolute;
    width: 800px;
    border-radius: 1em;
    z-index: 1002;
    opacity: 0;
    display: inherit; }

header {
  -ms-flex: 1 0 5%;
  flex: 1 0 5%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  width: 99%; }

nav {
  padding-top: .6em;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center; }
  nav #logo-space {
    -ms-flex: 1 0 30%;
    flex: 1 0 30%;
    opacity: .7; }
    nav #logo-space #DT-logo {
      width: 3em;
      padding: .5em 1em;
      cursor: pointer;
      transition: 0.1s all ease-in-out; }
  nav ul {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 3.7em; }
    nav ul li {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      cursor: pointer;
      font-size: 1.2em;
      text-align: center;
      opacity: .7;
      padding: .8em;
      border-bottom: .1em solid crimson;
      transition: 0.1s all ease-in-out; }
      nav ul li:hover {
        opacity: 1; }

main {
  -ms-flex: 1 0 80%;
  flex: 1 0 80%; }

footer {
  -ms-flex: 0 1 5%;
  flex: 0 1 5%; }
