@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/Avenir.ttc") format("truetype"); }

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: Avenir;
  background-color: blanchedalmond;
  color: #333;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }

#ripple {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh; }
  #ripple canvas {
    position: absolute;
    height: inherit;
    width: inherit;
    background-image: url("/assets/img/oak desk.jpg"); }
  #ripple #blank-space {
    width: 800px;
    height: 578px;
    z-index: 1001;
    background-color: #f5f4f2;
    border-radius: 1em; }
  #ripple #coffee-holder {
    position: inherit;
    border-radius: 100vh;
    width: 250px;
    height: 250px;
    cursor: pointer;
    background-color: grey;
    z-index: 1003;
    opacity: 0; }
  #ripple img {
    display: none; }
  #ripple #coffee {
    position: absolute;
    width: 800px;
    border-radius: 1em;
    z-index: 1002;
    opacity: 0;
    display: inherit; }

header {
  -ms-flex: 1 0 5%;
  flex: 1 0 5%;
  border: 0.6em inset white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  width: 99%; }

nav {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center; }
  nav ul {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0; }
    nav ul li {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      cursor: pointer;
      font-size: 2em;
      text-align: center;
      transition: 0.3s all ease-in-out;
      padding: .5em; }
    nav ul li ~ li {
      border-left: 0.2em solid white; }

main {
  -ms-flex: 1 0 80%;
  flex: 1 0 80%; }

footer {
  -ms-flex: 0 1 5%;
  flex: 0 1 5%; }
