#flex-container {
	display: flex;
	flex-flow: column;
}

a {
	flex: 1 0 auto;
	opacity: 0.9;
	img {
		width: 40vmin;
	}

	&:hover {
		opacity: 1;
	}
}

li {
	display: flex;
	justify-content: space-between;
	padding: 2em;
	border: 1px dotted rgba(255, 255, 255, 0.2);

	p {
		font-size: 4vmin;
		flex: 1 0 40%;
		text-align: left;
	}
}
