h1 {}

a {
	flex: 1 0 auto;
	opacity: 0.9;
	img {
		width: 40vmin;
	}

	&:hover {
		opacity: 1;
	}
}

li {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	border: 1px dashed rgba(255, 255, 255, 0.5);

	p {
		font-size: 4vmin;
		flex: 1 0 40%;
	}
}
