<ripple></ripple>
<header>
    <nav>
        <div id="logo-space">
            <div id="DT-logo"></div>
        </div>
        <ul>
            <li class="dropdown">
                About
                <ul class="dropdown-content">
                    <li>Members</li>
                    <li>History</li>
                </ul>
            </li>
            <li>Media</li>
            <li>Merchandise</li>
            <li>AARU</li>
        </ul>

    </nav>
</header>
<main>
    <home>Loading...</home>
</main>
<footer>
    <section id="footer-left">
        <ul id="forms">
            <li>
                <a href="mailto:rudeeptreble@gmail.com" id=#"mail">Contact Us</a>
            </li>
            <!-- <li>Join our newsletter!</li> -->
        </ul>
    </section>
    <section id="footer-right">
        <div class="filler"></div>
        <div class="content">
            <div class="upper-text">
                Follow us on:
            </div>
            <ul id="social-media">
                <li>
                    <a href="https://www.facebook.com/rudeeptreble">
                        <i class="fa fa-lg fa-facebook-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/deeptreble">
                        <i class="fa fa-lg fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/deeptreble/">
                        <i class="fa fa-lg fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</footer>
</body>
</html>
