section {
	flex: 1 0 50%;
	text-align: left;
}

#description {
	line-height: 2.5;
}
#list {
	padding-left:10%;
	display: flex;
	align-items: center;

	ul {
		flex-flow: column wrap;
		justify-content: center;
		text-align: left;
		list-style: upper-roman;
		padding-left: 10%;

		li {
			font-size: 4.5vmin;
			padding: .3em 0;
			a {
				opacity: .8;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
}
