ul {
	justify-content: space-around;
	flex-flow: row wrap;
	margin-bottom: 10vh;

	li {
		// border: 1.25em inset dimgrey;
		opacity: 0.8;
		transition: 0.15s all ease-in-out;

		&:hover {
			opacity: 1;
		}
		margin: 2vw;
	}
}

img {
	height: 17vw;
	cursor: pointer;
}

.description {
	width: 19vw;

	h2 {
		margin-bottom: 0.5em;
	}

	h3 {
		margin: 0.1em 0;
	}
}
/* hide on mobile to reduce clutter */
@media screen and (max-width: 799px) {
	img {
		height: 24vw;
	}

	.description {
		width: 24vw;

		h3 {
			display: none;
		}
	}
}

.selected {
	opacity: 1 !important;
	transition: 0.3s all ease-in-out !important;
	transform: scale(1.1);
	// .description > h3 {
	// 	display: block;
	// }
}
