ul {
	justify-content: space-around;
	li {
		// border: 1.25em inset dimgrey;
		opacity: 0.8;
		transition: 0.15s all ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
	li~li {
		margin-left: 3em;	
	}
}

img {
	height: 33vh;
}

.description {
	width: 38vh;
	h3 {
		margin: 0;
	}
}
