ul {
	flex: 1 0 auto;
	display: flex;
	// flex-flow: row wrap;
	list-style: none;

	li {
		margin: 3em;
		// border: 1.25em inset dimgrey;
		opacity: 0.8;
		transition: 0.1s all ease-in-out;

		&:hover {
			opacity: 1;
			top: 10;
			border: 1.25em inset dimgrey;
		}
	}
}

img {
	height: 33vh;
}

.description {
	width: 38vh;

	#name {
		padding-bottom: 0.2em;
		border-bottom: 0.1em solid darkred;
	}

	h3 {
		margin: 0;
	}
}
