ul {
	li {
		cursor: default;
		transition: 0.8s all ease-in-out;
	}
	// intentionally break default rule
	flex: none;
}

.selected {
	// font-size: 1.5em;
	// position: absolute;
	// background-color: rgba(0,0,0,.5);	
	// margin: 2em;
}
