ul {
	h3 {
		font-size: 20px;
	}
	li {
		cursor: default;
		transition: 0.8s all ease-in-out;
	}
	// intentionally break default rule
	flex: none;
}

@media screen and (orientation:portrait), screen and (max-width: 768px) {
	ul {
		flex-flow: column nowrap;
		// margin: 70vh 0 10vh 0;
	}

}

.selected {
	// font-size: 1.5em;
	// position: absolute;
	// background-color: rgba(0,0,0,.5);
	// margin: 2em;
}
