@font-face {
	font-family: "Avenir";
	src: url("/assets/fonts/Avenir.ttc") format("truetype");
}
@font-face {
	font-family: "Avenir-Light";
	src: url("/assets/fonts/Avenir-Light.ttf") format("truetype");
}
$font-color: white;
$coffee-background: #f5f4f2;

body,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

body {
	font-family: Avenir, Avenir-Light;
	background-color: black;
	color: $font-color;
	display: flex;
	// flex-flow: column nowrap;
	text-align: center;
	align-items: stretch;
	// overflow: hidden;
}

h1 {
	font-size: 6vmin;
}

h2 {
	font-size: 4.5vmin;
}

h3 {
	font-size: 3vmin;
}

a {
	text-decoration: none;
	color: white;
	transition: 0.1s all ease-in-out;
}

ul {
	flex: 1 0 auto;
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	// flex-flow: row wrap;
	justify-content: space-around;
}

.flex-container {
	display: flex;
}

.heading {
	padding-bottom: 0.2em;
	border-bottom: 0.1em solid darkred;
}
/* Ripple Styles */
#ripple {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	// display: none;

	canvas {
		position: absolute;
		z-index: 102;
		opacity: 0;
	}

	#coffee-holder {
		position: inherit;
		border-radius: 100em;
		width: 250px;
		height: 250px;
		cursor: pointer;
		background-color: grey;
		z-index: 103;
		opacity: 0;
	}

	img {
		display: none;
	}
}

#black-space,
#blank-space {
	position: absolute;
	width: 100vw;
	height: 100vh;
}

#blank-space {
	background-color: $coffee-background;
	z-index: 100;
	// display: none;
}

#black-space {
	background-color: black;
	z-index: 99;
	// display: none;
}

app {
	flex: 1 0 100%;
	display: flex;
	flex-flow: column nowrap;
}

aaru {
	display: flex;
}
