@font-face {
	font-family: "Avenir";
	src: url("/assets/fonts/Avenir.ttc") format("truetype");
}
$font-color: white;
$coffee-background: #f5f4f2;

body,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Avenir;
	background-color: black;
	color: $font-color;
	display: flex;
	// justify-content: center;
	flex-flow: column nowrap;
	// overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		opacity: 0.7;
		transition: 0.1s all ease-in-out;

		&:hover {
			opacity: 1;
		}
	}
}

.dropdown-content {
	display: none;
	margin-top: 0.4em;
	position: absolute;
	z-index: -1;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

	li {
		font-size: 18px;
		text-align: left;
		background-color: #111;
		border-left: 0.4em solid #333;
		// padding-left: 0.5em;
		border-bottom: none;
		width: 120px;
	}
}

.dropdown:hover .dropdown-content {
	display: block;
}

#ripple {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1000;
	width: 100vw;
	height: 100vh;

	canvas {
		position: absolute;
		// height: inherit;
		// width: inherit;
	}

	#blank-space {
		position: absolute;
		width: 100vw;
		height: 100vh;
		// z-index: -1;
		background-color: $coffee-background;
	}

	#coffee-holder {
		position: inherit;
		border-radius: 100vh;
		width: 250px;
		height: 250px;
		cursor: pointer;
		background-color: grey;
		z-index: 1003;
		opacity: 0;
		// transition: .2s all ease-in-out;
		// &:hover{
		// 	opacity: .5;
		// }
	}

	img {
		display: none;
	}

	#coffee {
		position: absolute;
		// width: 800px;
		z-index: 1002;
		opacity: 0;
		display: inherit;
	}
}

header {
	flex: 1 0 5%;
	// border: 0.6em inset white;
	display: flex;
	justify-content: center;
	position: fixed;
	width: 99%;
	z-index: 100;
	opacity: 1;
}

nav {
	flex: 1 0 auto;
	display: flex;
	justify-content: center;

	#logo-space {
		flex: 1 0 30%;
		height: 3.5em;
		background-color: black;

		#DT-logo {
			position: absolute;
			background-image: url("/assets/logos/DE:EP white.png");
			background-size: cover;
			width: 3.5em;
			height: 3.5em;
			margin: 0.7em 1em;
			cursor: pointer;
			opacity: 0.8;
			transition: 0.2s all ease-in-out;
			z-index: 99;

			&:hover {
				opacity: 1;
			}
			// &:before {
			// 	// background-color: black;
			// 	content: '';
			// 	display: block;
			// 	position: absolute;
			// 	height: inherit;
			// 	width: inherit;
			// 	z-index: -1;
			// }
		}
	}

	ul {
		justify-content: space-between;
		padding-top: 0.6em;
		flex: 1 0 auto;
		height: 3.7em;
		background-color: black;

		li {
			flex: 1 0 auto;
			cursor: pointer;
			font-size: 1.2em;
			text-align: center;
			padding: 0.8em;
			border-bottom: 0.1em solid crimson;
		}
	}
}

main {
	flex: 6 0 90vh;
}

footer {
	border-top: 0.2em solid crimson;
	display: flex;
	flex: 0 1 5%;
	background-color: #111;
	padding-top: 0.4em;
	opacity: 0.5;

	#footer-left {
		flex: 1 0 50%;
	}

	#footer-right {
		flex: 1 0 50%;
		display: flex;

		.filler {
			flex: 25 0 auto;
		}

		.content {
			flex: 1 0 auto;
			display: flex;
			flex-flow: column;

			.upper-text {
				cursor: default;
			}

			#social-media {
				margin: 0.2em 0.4em;
				justify-content: flex-end;

				li {
					margin: 0 0.3em;
				}
			}
		}
	}
}
