@font-face {
	font-family: "Avenir";
	src: url("/assets/fonts/Avenir.ttc") format("truetype");
}
$font-color: white;

body,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

body {
	font-family: Avenir;
	background-color: black;
	color: $font-color;
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
	justify-content: center;
	align-items: center;
	// overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		opacity: 0.7;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}
}

.dropdown-content {
	display: none;
	margin-top: 0.4em;
	position: absolute;
	z-index: -1;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

	li {
		font-size: 18px;
		text-align: left;
		background-color: #111;
		border-left: 0.4em solid #333;
		// padding-left: 0.5em;
		border-bottom: none;
		width: 120px;
	}
}

.dropdown:hover .dropdown-content {
	display: block;
}
